<body>
  <div class="topnav">
    <a class="active" >The Greatest Diktators of all time</a>
   
  </div>
  
  <div>
    <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm.value)" >
      <a>Diktator name</a><br>
      <input type="text" name="name"ngModel> 
      <br><br>
      <a>Diktator lastname</a>
      <br>
      <input type="text" name="lastname"ngModel> 
      <br><br>
      <a>Diktator description</a>
      <br>
      <textarea class="formSize" type="text" name="description"ngModel >  </textarea>
      <br><br> 
      <input type="date" name="date" ngModel >
      <br><br>
      <input type="submit" value="Submit"> 
    </form>
  </div>

  <li class="liC" *ngFor="let dick of allDiktators">
    <div class="beside"> 
     <dl>
      <dt class="boldText">name</dt>
      <dt>name :{{dick.name}} </dt><br>
      <dt class="boldText">lastname :{{dick.lastname}}</dt><br><br>
      <dt class="boldText">description</dt><br>
       <dt>{{dick.description}}</dt>
       <dt class="boldText">birth date</dt>
       <dt>{{dick.date}}</dt>
       <button (click)="onDelete(dick)">Delete</button>
     </dl>
   </div>
  </li>


</body>